body{
    text-align: center;
}
.app__container{
    width: 500px;
    padding: 30px;
    border: 1px solid #000000;
    margin: 0 auto;
    box-sizing: border-box;
}
.forecast{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.forecast__left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}
.forecastList__placeholder{
    height: 500px;
    line-height: 500px;
}
.forecast--spaceAround{
    justify-content: space-around;
    border-bottom: 1px #000000 dotted;
    margin-bottom: 20px;
}
.wi{
    font-size: 65px;
    line-height: 1.5;
}
